[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
darglint = "*"
pytest = "*"

[packages]
seqeval = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
flake8 = "flake8 neraug"
darglint = "darglint"
black = "black --check ."
test = "pytest tests -vv"
